@font-face {
  font-family: 'HoneycombHappiness';
  src: local('HoneycombHappiness'),
       local('./assets/HoneycombHappiness-ywnRm.ttf'),
       url('./assets/HoneycombHappiness.woff2') format('woff2');
}

:root {
  --text_color: hsl(0, 0%, 10%);
  --table_color_dark: hsl(45, 100%, 34%);
  --table_color: hsl(43, 74%, 49%);
  --table_background: hsl(51, 100%, 90%);
  --zebra_stripes: hsl(51, 100%, 80%);
  --table_header_text: white;
  --heading_text: goldenrod;
  --background: gold;
  --notification_color: hsl(43, 74%, 29%);
  --bin_text: hsl(43, 74%, 29%);

  --accept: hsl(87, 60%, 60%);
  --reject: hsl(323, 68%, 83%);
  --remove: hsl(0, 0%, 50%);
  --remove_active: hsl(348, 93%, 37%);
}


body {
  font-family: Verdana, Arial, sans-serif;
  /* margin: 0 2rem; */
  background-color: var(--background);
  color: var(--text_color);
}

header,
main {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-content: stretch; */
  /* gap: 0.5em; */
  width: 100%;
}


h1 {
  font-family: HoneycombHappiness, Verdana, Arial, sans-serif; 
  font-size: rem;
  color: var(--heading_text);
  margin: 0;
  padding: 0;
}

h2,
.tab > label {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 0;
}

.bee {
  font-size: 2rem; 
}


/* buttons */

.button {
  display: inline-block;
  background-color: var(--table_color);
  color: var(--table_header_text);
  border: none;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 1rem;
}

.button:hover {
  background-color: var(--table_color_dark);
}

kbd.button {
  margin: 0;
  font-size: 14px;
}

/* letter buttons */
#letters-block {
  display: flex;
  /* justify-content: space-around; */
  justify-content: start;
  /* gap: 0.5rem; */
  padding: 0.5rem;
}

.letter_button {
  font-variant: small-caps;
  font-size: 1.25rem;
  padding: 7px 12.5px;  
  text-decoration: none;
  display: inline-block;
}

.center_letter {
  border: 4px solid var(--table_color_dark);
}

/* inputs */

textarea {
  /* flex: 1; */
  width: 100%;
  height: 25rem;
}

#bee-word {
  font-size: 1.25rem;
}

textarea, 
input {
  background-color: var(--table_background);
  border: 1px solid var(--table_color);
}

#add-word-block {
  display: flex;
  margin-bottom: 0.5rem;
}

#add-word-block.hidden {
  display: none;
}


details summary {
  background-color: var(--table_background);
  border: 1px solid var(--table_color);
  /* padding: 0.1rem; */
  /* min-width: 29rem; */
  list-style-type: '🐝 ';
}

details[open] summary {
  list-style-type: '🍯 ';
}

details section {
  outline: 1px var(--table_color) solid;
}

details section p {
  padding: 0 1.5rem 1rem 1.5rem;
}

#word-input {
  /* width: 100%; */
  display: flex;
  align-items: stretch;
}

#word-input input[type=text] {
  flex-grow: 2;
}

/* stats */

#stats-block {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.stat_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
}

.stats_title {
  /* font-size: 16px; */
  font-variant: small-caps;
  margin: 0;
  padding: 0 0 1px 0;
}

.stat_value {
  margin: 0;
  padding: 0;
  padding: 0 0 1px 0;
}

/* #rank-stat {
  font-weight: bold;
} */

#bingo-stat {
  font-size: 1.5rem;
  font-weight: 100;
}

/* table */

table {
  /* align-self: stretch; */

  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: var(--table_background);
}

thead > tr {
  background-color: var(--table_color);
  color: var(--table_header_text);
}

  thead th {
    background-color: var(--table_color);
  }

table td,
table th {
  padding: 0;
  border: var(--table_color) 1px solid;
  font-size: 16px;
  padding: 0.15rem 0.3rem;
}

tbody input[type=number],
#two-letter-lists input[type=number] {
  font-size: 16px;
  width: 3em;
  border: none;
  background-color: var(--table_background);
  text-align: center;
}


/* zebra stripes */
tr:nth-child(even),
tr:nth-child(even) input[type=number] {
  background-color: var(--zebra_stripes);
}

th,
td {
  text-align: center;
}

th {
  font-weight: normal;
}

tbody th {
  text-transform: uppercase;
  font-weight: bold;
}

tbody input[type=number],
#two-letter-lists input[type=number] {
  font-size: 16px;
  max-width: 3em;
  border: none;
  background-color: var(--table_background);
  text-align: center;
}


/* two-letter list dl */

dd,
li {
  margin-left: 1.5rem;
  text-transform: capitalize;
}

#two-letter-lists input[type=number] {
  text-align: start;
}

time {
  display: inline;
  font-size: 0.8rem;
  font-style: italic;
}

.two_letter_code {
  text-transform: uppercase;
  display: inline-block;
  min-width: 1.8rem;
}

.separator {
  color: var(--heading_text);
  padding: 0 0.3rem;
}

.length-counts {
  color: var(--bin_text);
  padding-left: 0.8rem;
  font-size: 0.8rem;
}

#two-letter-lists dl, 
#discovery-order-list ol {
  /* flex-grow: 1; */
  /* flex-basis: 100%; */
  /* overflow-y: scroll; */
  column-count: 2;
}

dd > a,
li > a {
  color: var(--text_color);
  cursor: pointer;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 2.5px;
}

.pangram-word {
  font-weight: bold;
}

button[type=remove] {
  background-color: transparent;
  border: none;
  font-size: 1.0rem;
  font-weight: bold;
  color: var(--remove);
  margin-top: -1.5rem;
}

button[type=remove]:hover {
  color: var(--remove_active);
}

/* support links */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3rem;
}

footer a.button,
footer .button {
  padding: 7px 12.5px;
}

#share_links,
#support_links {
  display: flex;
  justify-content: space-around;
}


/* feedback animations */

.accept {
  animation: accept 0.8s;
}

@keyframes accept {
  0% {
    background-color: var(--table_background);
  }
  30% {
    background-color: var(--accept);
  }
  70% {
    background-color: var(--accept);
  }
  100% {
    background-color: var(--table_background);
  }
}

.reject {
  animation: reject 0.8s;
}

@keyframes reject {
  0% {
    background-color: var(--table_background);
  }
  30% {
    background-color: var(--reject);
  }
  70% {
    background-color: var(--reject);
  }
  100% {
    background-color: var(--table_background);
  }
}

/* word list tabs */
.tabs {
  position: relative;
  /* change to increase tab area height */
  min-height: 36rem;
  /* Fix to use flexbox? */
  clear: both;
  margin: 1rem 0;
}

.tab {
  float: left;
}

.tab label {
  padding: 0.5remx;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.tab [type=radio].tab_selector {
  opacity: 0;
}

.tab_content {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 1rem 1rem 1rem;
  overflow: auto;
}

.tab_content > * {
  opacity: 0;
  /* transform: translateX(-100%); */
  /* transition: all 0.6s ease; */
}

[type=radio].tab_selector:checked ~ label {
  border-bottom: 3px solid var(--text_color);
  z-index: 2;
}

[type=radio].tab_selector:checked ~ label ~ .tab_content {
  z-index: 1;
}

[type=radio].tab_selector:checked ~ label ~ .tab_content > * {
  opacity: 1;
  /* transform: translateX(0); */
}

.dim {
  opacity: 0.5;
}

.hidden {
  display: none;
}


/* dialog */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog {
  border-radius: 0.5rem;
  border: none;
  min-width: 30%;
}

dialog header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

dialog section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#dialog-close {
  background-color: transparent;
  border: none;
  color: var(--remove);
  font-size: 2rem;
  margin: -1rem 0 0 0;
  padding: 0;
  cursor: pointer;
}

#dialog-status {
  font-size: 2rem;
}

#dialog-time {
  font-style: normal;
  font-size: 1rem;
  font-weight: bold;
}

/* Notification toast */
 /* The notification - position it at the top and in the middle of the screen */
 #notification {
  visibility: hidden; 
  background-color: var(--notification_color);
  color: var(--table_header_text);
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; 

  /* replace this with flexbox? */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  left: 50%; /* Center the notification */
  top: 30px; /* 30px from the bottom */
}

#notification.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the notification.
  Delay the fade out process for 2.5 seconds */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the notification in and out */
@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
} 

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { } */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #two-letter-lists dl,
  #discovery-order-list ol {
    padding-left: 0;
    column-count: 3;
    column-gap: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }

  .bee {
    display: inline;
    font-size: 4rem; 
  }

  .tabs {
    /* change to increase tab area height */
    min-height: 42rem;
  }

  #two-letter-lists dl,
  #discovery-order-list ol {
    column-count: 4;
    column-gap: 4rem;
  }

  button[type=remove] {
    opacity: 0;
  }

  button[type=remove]:hover {
    opacity: 1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { }  */

