@font-face {
  font-family: HoneycombHappiness;
  src: url('./assets/HoneycombHappiness-ywnRm.ttf') format("truetype");
}


:root {
  --text_color: hsl(0, 0%, 10%);
  --table_color_dark: hsl(45, 100%, 34%);
  --table_color: hsl(43, 74%, 49%);
  --table_background: hsl(51, 100%, 90%);
  --zebra_stripes: hsl(51, 100%, 80%);
  --table_header_text: white;
  --heading_text: goldenrod;
  --background: gold;

  --accept: hsl(87, 60%, 60%);
  --reject: hsl(323, 68%, 83%);
  --remove: hsl(0, 0%, 50%);
  --remove_active: hsl(348, 93%, 37%);
}


body {
  font-family: Verdana, Arial, sans-serif;
  /* margin: 0 2rem; */
  background-color: var(--background);
  color: var(--text_color);
}

header,
main {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-content: stretch; */
  /* gap: 0.5em; */
  width: 100%;
}


h1 {
  font-family: HoneycombHappiness, Verdana, Arial, sans-serif; 
  font-size: rem;
  color: var(--heading_text);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 0;
}

.bee {
  font-size: 2rem; 
}


/* buttons */

.button {
  display: inline-block;
  background-color: var(--table_color);
  color: var(--table_header_text);
  border: none;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 1rem;
}

.button:hover {
  background-color: var(--table_color_dark);
}

/* letter buttons */
#letters-block {
  display: flex;
  /* justify-content: space-around; */
  justify-content: start;
  /* gap: 0.5rem; */
  padding: 0.5rem;
}

.letter_button {
  font-variant: small-caps;
  font-size: 1.25rem;
  padding: 7px 12.5px;  
  text-decoration: none;
  display: inline-block;
}

/* inputs */

textarea {
  /* flex: 1; */
  width: 100%;
  height: 25rem;
}

#bee-word {
  font-size: 1.25rem;
}

textarea, 
input {
  background-color: var(--table_background);
  border: 1px solid var(--table_color);
}

#add-word-block {
  display: flex;
  margin-bottom: 0.5rem;;
}

#add-word-block.hidden {
  display: none;
}


details summary {
  background-color: var(--table_background);
  border: 1px solid var(--table_color);
  /* padding: 0.1rem; */
  /* min-width: 29rem; */
  list-style-type: '🐝 ';
}

details[open] summary {
  list-style-type: '🍯 ';
}

#word-input {
  /* width: 100%; */
  display: flex;
  align-items: stretch;
}

#word-input input[type=text] {
  flex-grow: 2;
}


/* table */

table {
  /* align-self: stretch; */

  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: var(--table_background);
}

thead > tr {
  background-color: var(--table_color);
  color: var(--table_header_text);
}

  thead th {
    background-color: var(--table_color);
  }

table td,
table th {
  padding: 0;
  border: var(--table_color) 1px solid;
  font-size: 16px;
  padding: 0.15rem 0.3rem;
}

tbody input[type=number],
#two-letter-lists input[type=number] {
  font-size: 16px;
  width: 3em;
  border: none;
  background-color: var(--table_background);
  text-align: center;
}


/* zebra stripes */
tr:nth-child(even),
tr:nth-child(even) input[type=number] {
  background-color: var(--zebra_stripes);
}

th,
td {
  text-align: center;
}

th {
  font-weight: normal;
}

tbody th {
  text-transform: uppercase;
  font-weight: bold;
}

tbody input[type=number],
#two-letter-lists input[type=number] {
  font-size: 16px;
  max-width: 3em;
  border: none;
  background-color: var(--table_background);
  text-align: center;
}


/* two-letter list dl */

dd {
  margin-left: 1.5rem;
  text-transform: capitalize;
}

#two-letter-lists input[type=number] {
  text-align: start;
}


.two_letter_code {
  text-transform: uppercase;
  display: inline-block;
  min-width: 1.8rem;
}

.separator {
  color: var(--heading_text);
  padding: 0 0.3rem;
}

#two-letter-lists dl {
  flex-grow: 1;
  /* flex-basis: 100%; */
  overflow-y: scroll;
  column-count: 2;
}

dd > a {
  color: var(--text_color);
  cursor: pointer;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 2.5px;
}

button[type=remove] {
  background-color: transparent;
  border: none;
  font-size: 1.0rem;
  font-weight: bold;
  color: var(--remove);
  margin-top: -1.5rem;
}

button[type=remove]:hover {
  color: var(--remove_active);
}

/* support links */
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

footer a.button {
  padding: 7px 12.5px;
}



/* laptop / desktop */
@media screen and (min-width: 800px) {

  h1 {
    font-size: 5rem;
  }

  .bee {
    display: inline;
    font-size: 4rem; 
  }

  #two-letter-lists dl {
    column-count: 4;
    column-gap: 4rem;
  }

}

/* feedback animations */

.accept {
  animation: accept 0.8s;
}

@keyframes accept {
  0% {
    background-color: var(--table_background);
  }
  30% {
    background-color: var(--accept);
  }
  70% {
    background-color: var(--accept);
  }
  100% {
    background-color: var(--table_background);
  }
}

.reject {
  animation: reject 0.8s;
}

@keyframes reject {
  0% {
    background-color: var(--table_background);
  }
  30% {
    background-color: var(--reject);
  }
  70% {
    background-color: var(--reject);
  }
  100% {
    background-color: var(--table_background);
  }
}
